@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Carlito:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-carlito: "Carlito", sans-serif;
  --background: #111827;
  --foreground: #FFFFFF;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}